// module, to store the commands this frontend sends and receives
import CBOR from './other_libs/cbor';

(function (global, undefined) { "use strict";

<include_file>

module.exports = { QueryCommand: QueryCommand, FileCommand: FileCommand, Command: Command };

}) (this);

