// module, to store the responses this frontend sends
import CBOR from './other_libs/cbor';

(function (global, undefined) { "use strict";

<include_file>

module.exports = { QueryResponse: QueryResponse, FileResponse: FileResponse, Response: Response };

}) (this);

